html, body, p {
  margin: 0;
  padding: 0;
}

html {
  touch-action: manipulation;
}


/*html, body {
  min-height: 100%;
}*/

body {
  font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif, "宋体";
  background-color: #eee;
  font-size: 2rem;
  height: 100%;
}
